<!-- This is the header -->

<header class="clearfix">
    <div class="container">
			<div class="header-left">
				<h1>MovieMania</h1>
			</div>
			<div class="header-right">
				<label for="open">
					<span class="hidden-desktop"></span>
				</label>
				<nav>
					<a href="/index">Home</a>
					<a href="/inspiration">Inspiration</a>
					<a href="/packages">View Packages</a>
					<a href="/catalog">Catalog</a>
					<a href="/contact">Contact</a>
				</nav>
			</div>
		</div>
	</header>