    <section class="clearfix">
		<div class="container">
			<div class="section-left">
				<h1 class="section-title">Lorem ipsum dolor sit amet.</h1>
				<h5 class="section-tagline">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
			</div>
			<div class="section-right">
				<button class="learn-more">Learn more</button>
			</div>
		</div>
	</section>
    
    <div class="container-lg">
        <div class="row">
            <!-- Main content with accordion -->
            <div class="col-lg-8">
                <div class="accordion mt-5" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="clearfix mb-0">
                                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="material-icons">add</i> Movie #1</a>									
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body" id="cardBodyOne">
                                <div class="media">
                                    <img src="https://i.ebayimg.com/images/g/JB8AAOSwXyRleWml/s-l1200.jpg" class="mr-3" alt="Home">
                                    <div class="media-body">
                                        <h5 class="mt-0">DAMSEL</h5>
                                        <p>A dutiful damsel agrees to marry a handsome prince, only to find the royal family has recruited her as a sacrifice to repay an ancient debt.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Additional accordion items -->
                    <!-- Accordion 2 start-->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="material-icons">add</i> Movie #2</a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body" id="cardBodyTwo">
                                <div class="media">
                                    <img src="https://theposterdepot.com/cdn/shop/files/meangirls0415202401rev_e98588f0-de9e-41fa-b92e-773fdcf5936f_580x.jpg?v=1713926609" class="mr-3" alt="Home">
                                    <div class="media-body">
                                        <h5 class="mt-0">MEAN GIRLS</h5>
                                        <p>Cady Heron is a hit with the Plastics, an A-list girl clique at her new school. But everything changes when she makes the mistake of falling for Aaron Samuels, the ex-boyfriend of alpha Plastic Regina George.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Accordion 3 start-->
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="material-icons">add</i> Movie #3</a>                     
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body" id="cardBodyThree">
                                <div class="media">
                                    <img src="https://dunenewsnet.com/wp-content/uploads/2024/01/Dune-Part-Two-Movie-Poster-Main-Paul-Chani-819x1024.jpg" class="mr-3" alt="Home">
                                    <div class="media-body">
                                        <h5 class="mt-0">DUNE 2</h5>
                                        <p>Paul Atreides unites with Chani and the Fremen while seeking revenge against the conspirators who destroyed his family.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Accordion 4 start-->
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><i class="material-icons">add</i> Movie #4</a>                               
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body" id="cardBodyFour">
                                <div class="media">
                                    <img src="https://www.animationmagazine.net/wordpress/wp-content/uploads/Garfield_Garfield.jpg" class="mr-3" alt="Home">
                                    <div class="media-body">
                                        <h5 class="mt-0">GARFIELD</h5>
                                        <p>After Garfield's unexpected reunion with his long-lost father, ragged alley cat Vic, he and his canine friend Odie are forced from their perfectly pampered lives to join Vic on a risky heist.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Accordion 5 start-->
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><i class="material-icons">add</i> Movie #5</a>                               
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body" id="cardBodyFive">
                                <div class="media">
                                    <img src="https://theshedwb.com/wp-content/uploads/2022/08/Goodfellas-poster-600x800.jpg" class="mr-3" alt="Home">
                                    <div class="media-body">
                                        <h5 class="mt-0">GoodFellas</h5>
                                        <p>The story of Henry Hill and his life in the mafia, covering his relationship with his wife Karen and his mob partners Jimmy Conway and Tommy DeVito.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Side section with clickable items -->
            <div class="col-lg-4">
                <div class="mt-5">
                    <div class="list-group" id="sidebar">
                        <a href="#" class="list-group-item list-group-item-action sidebar-item" data-target="#cardBodyOne" data-content="<h5 class='mt-0'>CAST</h5><p>
                            Millie Bobby Brown<br>
                            Ray Winstone<br>
                            Angela Bassett<br>
                            Brooke Carter<br>
                            Nick Robinson.</p>">Cast</a>

                        <a href="#" class="list-group-item list-group-item-action sidebar-item" data-target="#cardBodyOne" data-content="<h5 class='mt-0'>GENRE</h5><p>Action<br>
                            Adventure<br>
                            Fantasy</p>">Genre</a>

                        <a href="#" class="list-group-item list-group-item-action sidebar-item" data-target="#cardBodyOne" data-content="<h5 class='mt-0'>RELEASE DATE</h5><p>2024</p>">Release Date</a>

                        <a href="#" class="list-group-item list-group-item-action sidebar-item" id="change-color-scheme">Change Color Scheme</a>
                    </div>
                    <button id="addItem" class="btn btn-primary mt-3">Add Item</button>
                    <button id="removeItem" class="btn btn-danger mt-3">Remove Last Item</button>
                </div>
            </div>
        </div>
    </div>